<div class="container-fluid">
	<div class="row">
  		<div class="col-xs-12 col-md-12">
            <ul class="nav nav-tabs nav-file-editor-tabs">
                <li class="active"><a href="#tab-htaccess" data-toggle="tab">{{ text_htaccess }}</a></li>
                <li><a href="#tab-robots" data-toggle="tab">{{ text_robots }}</a></li>
            </ul>
            
            <div class="tab-content">
                <div class="tab-pane fade in active" id="tab-htaccess">
                    <div class="tab-htaccess">
                        <br />
                        <div class="loader"></div>
                    </div>
                </div>
                
                <div class="tab-pane fade" id="tab-robots">
                    <div class="tab-robots">
                        <br />
                        <div class="loader"></div>
                    </div>
                </div>
            </div>
            
  		</div>
    </div>
</div>