<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-12">

            <ul class="nav nav-tabs nav-settings-tabs">
                <li class="active"><a href="#tab-titles" data-toggle="tab">{{ text_titles }}</a></li>
                <li><a href="#tab-descriptions" data-toggle="tab">{{ text_descriptions }}</a></li>
                <li><a href="#tab-keywords" data-toggle="tab">{{ text_keywords }}</a></li>
                <li><a href="#tab-product-heading-tags" data-toggle="tab">{{ text_product_heading_tags }}</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade in active" id="tab-titles">
                    <div class="tab-titles">
                        <br />
                        <div class="loader"></div>
                    </div>
                </div>

                <div class="tab-pane fade" id="tab-descriptions">
                    <div class="tab-descriptions">
                        <br />
                        <div class="loader"></div>
                    </div>
                </div>

                <div class="tab-pane fade" id="tab-keywords">
                    <div class="tab-keywords">
                        <br />
                        <div class="loader"></div>
                    </div>
                </div>

                <div class="tab-pane fade" id="tab-product-heading-tags">
                    <div class="tab-product-heading-tags">                      
                        <br />
                        <div class="loader"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>