<div class="container-fluid">
    <div class="row">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a data-toggle="tab" href="#editor-products">{{ text_editor_products }}</a></li>
            <li><a data-toggle="tab" href="#editor-categories">{{ text_editor_categories }}</a></li>
            <li><a data-toggle="tab" href="#editor-informations">{{ text_editor_information_pages }}</a></li>
            <li><a data-toggle="tab" href="#editor-manufacturers">{{ text_editor_manufacturers }}</a></li>
        </ul>
        
        <div class="tab-content">
            <div id="editor-products" role="tabpanel" class="editor-products tab-pane fade in active">
                <br />
                <div class="loader"></div>
            </div>
            <div id="editor-categories" role="tabpanel" class="editor-categories tab-pane fade">
                <br />
                <div class="loader"></div>
            </div>
            <div id="editor-informations" role="tabpanel" class="editor-informations tab-pane fade">
                <br />
                <div class="loader"></div>
            </div>
            <div id="editor-manufacturers" role="tabpanel" class="editor-manufacturers tab-pane fade">
                <br />
                <div class="loader"></div>
            </div>
        </div>
    </div>
</div>
