<div class="container-fluid">
	<div class="row">
  		<div class="col-xs-12 col-md-8 tab-redirects-results">
            <br />
            <div class="loader"></div>
  		</div>
  		
  		<div class="col-xs-12 col-md-4">
          <div class="box-heading">
  		    <h1><i class="fa fa-info-circle" aria-hidden="true"></i>{{ tab_redirects_helper_title }}</h1>
          </div>
          <div class="box-content">
  		    {{ tab_redirects_helper }} 
          </div>
      </div>
	</div>
</div>