<div class="checkout-disclaimer">
    <div class="modal-header">
        <h3>Disclaimer</h3>
    </div>
    <div class="modal-body">
        <p>
            Journal Quick Checkout is based on the default Opencart checkout mechanism <small>(default register, shipping, payments, etc.)</small>. If you have modified this default mechanism either directly in the files or via 3rd party extensions, the Journal Quick Checkout may not function correctly.
            <br/><br/>
            We can only guarantee the Quick Checkout functionality on unmodified Opencart systems. Please test the Journal Quick Checkout yourself and make sure it works correctly before using it on live stores.
        </p>
    </div>
    <div class="modal-footer">
        <a class="btn green btn-primary" data-ng-click="agree()">I Agree</a>
    </div>
    <style>
        .modal{
            top: 50%;
            margin-top: -220px;
        }
    </style>
</div>
