<div class="container-fluid">
	<div class="row">
  		<div class="col-xs-12 col-md-8 auto-links-results">
            <br />
            <div class="loader"></div>
  		</div>
  		<div class="col-xs-12 col-md-4">
            <div class="box-heading">
                <h1>{{ tab_autolinks_helper_title }}</h1>
            </div>
            <div class="box-content">
                {{ tab_autolinks_helper }}
            </div>
        </div>
	</div>
</div>